{% extends 'base.html' %}
{% load static %}

{% block title %}
Traits
{% endblock title %}

{% block refcss_block %}
<link rel="stylesheet" href="{% static 'table_traits.css'%}">
<link rel="stylesheet" href="{% static 'faq.css'%}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Ancestry breakdown for a given trait</h1>
<p>Did you inherit your blue eyes from your Scandinavian grandmother or hope to live as long as your centenarian Japanese grandfather ? This view attemps to identify from which ancestor a given selected trait was passed on to you.
    For example, you could be 99% Nigerian with blue eyes coming from your 1% German side. Note that this analysis might be more relevant if you have mixed ethnicities.</p>
<div class="container">
    <div class="container">
        <div class="accordion-item" id="question_trait">
            <a class="accordion-link" href="#question_trait" id="accordionlink_trait">
                How to interpret this table ? Click here for an example.
                <i class="icon ion-md-add" id="icon_add_trait"></i>
                <i class="icon ion-md-remove" id="icon_remove_trait"></i>
            </a>
            <div class="answer" id="answer_trait">
                <img id="AncestryFile" src="{% static '/images/Trait_example.jpg' %}" width="500" height="100"><p>
                In this example, the individual's nose morphology is 9.09% of Ethiopian & Eritrean descent, which fully comes from the Mother's side (maybe one great-grandfather who was Ethiopian).
                You might want to compare this with your siblings as they can be surprisingly different. The number in parentheses "(11)" indicates that 11 markers have been analyzed for nose morphology.
                </p>
            </div>
        </div>
</div>
<br clear="all">
<form method="POST" id="pvalue_form" pvalue_url = "{% url 'load-view' %}">
    {% csrf_token %}
    <div>{{FORM2.as_p}}</div>
	<p>This is the level of confidence showing how strong an
        <a href='/faq/#question6' target="_blank" rel="noopener noreferrer">SNP</a>
        was associated with that trait in the research study.</p>
    <input type="hidden" id="requestType" name="requestType" value={{request_method}}>
</form>
<form method="POST" id="trait_form" trait_url = "{% url 'load-view' %}">
    {% csrf_token %}
    <div>{{FORM.as_p}}</div>
	<p>The number in parentheses is the number of
                <a href='/faq/#question6' target="_blank" rel="noopener noreferrer">SNPs</a>
        associated to that trait.</p>
    <input type="hidden" id="requestType" name="requestType" value={{request_method}}>
</form>
<table class="table-striped">
<caption><u>Results table: ethnicity breakdown for your selected trait</u></caption>
<col>
<colgroup span="1"></colgroup>
<colgroup span="1"></colgroup>
<colgroup span="1"></colgroup>
<tr>
	<td style="font-weight:bold">Ethnicity</td>
	<td style="font-weight:bold" onclick='sortTable(1,"master-table")'>Father side</th>
	<td style="font-weight:bold" onclick='sortTable(2,"master-table")'>Mother side</td>
	<td style="font-weight:bold" onclick='sortTable(3,"master-table")'>Both sides</td>
</tr>
<tbody id="master-table">
</tbody>
</table>

<br clear="all">

<script>
window.onload = function () {
    const url = "{% url 'load-view' %}";
    $.ajax({
        url: url,
        data : {},
        success: function (response) {
            myArray = response.data
            buildTable(myArray)
        },
        error: function(error){
           console.log(error)
        },
        })
}
</script>

<script src="{% static '/traits.js' %}"></script>
{% endblock content %}